.main,
.subheader {
  color: #131722;
}

.subheader {
  font-size: 28px;
  font-style: bold;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.378px;
}

.body {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.45px;
}

.medium {
  font-size: 16px;
  font-weight: 590;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.small {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.468px;
  text-transform: uppercase;
}
